body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 100px;
}


.content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  top: 10rem;
  position: relative;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: #f08707;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: #64be2c;;
}

.box-3 {
  width: 200px;
  height: 200px;
  background-color: #0065B3;
}

.box-4 {
  width: 200px;
  height: 200px;
  background-color: #f3b816;
}
